<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>GharKaKhana</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to access your current location for registration</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to access your current location to show nearby vendors or products</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>codepush.appcenter.ms</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>codepush.blob.core.windows.net</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>codepushupdates.azureedge.net</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Play using while you are hiking</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to access to microphone to get your voice to search Products and vendors.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to access to speech recognition to get speech results.</string>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) would like access to your photo gallery to upload photos and set profile picture</string>
	<key>NSContactsUsageDescription</key>
	<string>$(PRODUCT_NAME) requires contacts access to function properly.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to access your current location for registration</string>
	<key>NSLocationUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to access your current location for registration</string>
	<key>NSCalendarsUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to access your calendar to manage your events</string>
	<key>NSMotionUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to access your motion data to enhance the app's functionality and user experience.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to access Bluetooth devices to provide seamless connectivity and functionality even when the app is running in the background.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app requires Bluetooth access to connect and communicate with nearby peripherals for device pairing and data transfer. Your privacy and security are our top priorities, and Bluetooth data will only be used for the intended purposes within the app.</string>
	<key>NSSiriUsageDescription</key>
	<string>We need access to Siri to provide voice command functionality within the app.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) would like access to your photo gallery to upload photos and set profile picture</string>
	<key>PROJECT_GOOGLE_PLACE_KEY</key>
	<string>$(PROJECT_GOOGLE_PLACE_KEY)</string>
	<key>UIAppFonts</key>
	<array>
		<string>CircularStd-Book.otf</string>
		<string>CircularStd-Medium.otf</string>
		<string>CircularStd-Bold.ttf</string>
		<string>Eina03-SemiBold.ttf</string>
		<string>Futura Hv BT.ttf</string>
		<string>Futura-Book.ttf</string>
		<string>Futura-Medium.ttf</string>
		<string>Futura-Normal.ttf</string>
		<string>FuturaBT-Heavy.ttf</string>
		<string>Hello.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>SFProDisplay-Regular.ttf</string>
		<string>SFProText-Bold.ttf</string>
		<string>SFProText-Medium.ttf</string>
		<string>SFProText-Regular.ttf</string>
		<string>SFProText-SemiBold.ttf</string>
		<string>Urbanist-Bold.ttf</string>
		<string>Urbanist-ExtraBold.ttf</string>
		<string>Urbanist-Medium.ttf</string>
		<string>Urbanist-Regular.ttf</string>
		<string>Urbanist-SemiBold.ttf</string>
		<string>ProximaNova-Bold.ttf</string>
		<string>ProximaNova-Medium.ttf</string>
		<string>ProximaNova-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
